@page
@model SSDAssignment.Pages.Listings.PromotionExistsModel
@{
    ViewData["Title"] = "PromotionExists";
}

<h2 style="margin-top: 100px;">Promotion Exists</h2>

<h4>
    There is already an existing promotion for this listing. Please wait until promotion expires and try again.
</h4>



