@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<head>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <link href=~/css/Register.css rel="stylesheet" type="text/css" />
</head>

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Name"></label>
                <input asp-for="Input.Name" class="form-control" />
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="image-container">
                @if (Model.FileName == null)
                {
                    <img id="profimg" src="~/Uploads/ProfilePics/default.png" width="200" style="border-radius:50%" />
                }
                else
                {
                    <img id="profimg" src="~/Uploads/ProfilePics/@Model.FileName" width="200" style="border-radius:50%" />
                }
            </div>
            <div class="form-group">
                <label asp-for="Input.ProfilePic"></label>
                <input type="file" asp-for="Input.ProfilePic" class="form-control" />
                <span asp-validation-for="Input.ProfilePic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.BirthDate"></label>
                <input asp-for="Input.BirthDate" class="form-control" />
                <span asp-validation-for="Input.BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="g-recaptcha" data-sitekey="6Lex8mYUAAAAACdnRLuBbhfQMg0WoHsckRTPxQyi"></div>
            <br />

            <button type="submit" class="btn btn-default">Register</button>

        </form>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery-3.3.1.min.js"></script>
    @*RenderSection("Scripts", required: false)*@

    <script>
        $(function () {
            $(":file").change(function () {
                if (this.files && this.files[0]) {
                    var reader = new FileReader();
                    reader.onload = imageIsLoaded;
                    reader.readAsDataURL(this.files[0]);
                }
            });
        });

        function imageIsLoaded(e) {
            $('#profimg').attr('src', e.target.result);
        };
    </script>
}