@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2 style="padding-top: 20px;"></h2>
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Use this area to provide additional information.</p>
