@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body style=" background-color: #E5E5D8">
    <div>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/images/welcomepage.jpg" alt="ASP.NET" class="img-responsive" />
                <div class="carousel-caption" role="option">
                    <p>
                        The World's Market, in Your Hands.
                        <a class="btn btn-default" asp-page="./Listings/Index">
                            Check Out Some Listings
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
