ul.products li {
    width: 200px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    background-color: antiquewhite;
}

ul.products img{
    width: 180px;
    margin: 10px;
}