/*
Logo Colours: b7b7ac
*/

body {
    background-color: #E5E5D8;
}

/*Index page*/
ul.products li {
    width: 200px;
    height: 225px;
    display: inline-block;
    vertical-align: top;
    background-color: whitesmoke;
    margin: 4px;
    padding: 10px;
}

    ul.products li:hover {
        border: solid;
        border-radius: 15px;
    }

    ul.products li a:hover {
        text-decoration: none;
    }

    ul.products li h4 {
        color: black;
        width: 180px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    ul.products li p {
        color: lightslategray;
        font-size: 13px;
        margin-bottom: 0;
    }

.image-container {
    width: 180px;
    height: 125px;
}

ul.products img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
    vertical-align: middle;
}



/*Details Page*/
.left-portion {
    width: 65%;
    margin-top: 92.8px;
    float: left;
    padding-right: 10px;
}

    .left-portion img {
        height: 100%;
        width: 100%;
        box-shadow: 1px 1px 8px 1px #888888;
    }

.right-portion {
    width: 35%;
    margin-top: 92.8px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    background-color: whitesmoke;
    box-shadow: 1px 1px 8px 1px #888888;
}

    .right-portion hr {
        border-color: sandybrown;
        font-size: 10px;
        padding-left: 0;
        padding-right: 10px;
    }


.description-table td {
    height: 50px;
    padding: 5px;
    font-size: 15px;
}

.description-table img {
    width: 30px;
}

.description{
    white-space: pre-wrap;
}